<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".presentation.PrimaryActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PlAnt.PrimaryActivity"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="DiscouragedApi" />
    </application>
</manifest>